@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppings", sans-serif;
}

body{
  background: white;
  font-size: 14px;
  display: flex;
}

.logo{
  align-items: center;
  margin-left: 60px;
  justify-content: center;
}

nav{
  position: relative;
  top: 0;
  bottom: 0;
  height:100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;  
  box-shadow: 0 20ox 35px rgba(0,0,0,0.1);
}

.logo img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 288px;
  padding:10px
}


nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item h4{
  margin-right: 10px;
  justify-content: flex-end;
  text-align: left;
  margin-bottom: 10px;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover{
  background: #eee;
}

.logout{
  position: absolute;
  bottom: 0;
}

.container{
  width: 80%;
  margin: 50px;
}

.contact-box{
  background: #c1bfc9;
  display: flex;
}

.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right{
  flex-basis: 60%;
  padding: 40px;
  background: #1c00b5;
  color: #fff;
}

h1{
  margin-bottom: 10px;
}

.container p{
  margin: bottom 10px;
}

.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group{
  flex-basis: 45%;
}

input{
  width: 100%;
  border: none;
  border-bottom: 3px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box ;
}

label{
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}

button{
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 40px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, .3);
}

.contact-left h3{
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}